<div *ngIf="wookie">
    <form>
        <div>
            <div>
                <label for="">Id</label>
            </div>
            <div>
                <label for="">{{ wookie.id }}</label>
            </div>
        </div>
        <div>
            <div>
                <label for="">Prénom</label>
            </div>
            <div>
                <input type="text" name="prenom" value="{{ wookie.prenom }}">
            </div>
        </div>
        <div>
            <div>
                <label for="">Date de naissance</label>
            </div>
            <div>
                <input type="date" name="dateNaissance" id="dateNaissance" value="{{ wookie.dateNaissance }}">
            </div>
        </div>
        <div>
            <button (click)="ClickValider()">Valider</button>
        </div>
        <div>
            <button (click)="ClickAnnuler()">Annuler</button>
        </div>
    </form>
</div>