<nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Formation Angular</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a [routerLink]="['/liste-wookies']" routerLinkActive="router-link-active">Liste des wookies </a></li>
                <li><a [routerLink]="['/creer-wookies']" routerLinkActive="router-link-active">Creer un wookies</a></li>
                <li><a [routerLink]="['/jedi']" routerLinkActive="router-link-active">Liste des jedis</a></li>
        </ul>
    </div>
</nav>