<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" 
                        id="prenom" 
                        name="prenom" 
                        [(ngModel)]="wookie.prenom"
                        type="text" 
                        class="validate">
                <label for="prenom">Prenom</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <button class="btn waves-effect waves-light" name="action">Submit
                    <i class="material-icons right">Ajouter</i>
                </button>
            </div>
        </div>
    </form>
</div>

{{ wookie | json }}